//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-4 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Tue 12 05 18:47:36 2023

IO_LOC "uart_tx" 17;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "uart_rx" 18;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "srf05_trig" 41;
IO_PORT "srf05_trig" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tm1638_clk" 29;
IO_PORT "tm1638_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tm1638_stb" 28;
IO_PORT "tm1638_stb" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ds1302_clk" 25;
IO_PORT "ds1302_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ds1302_rst" 27;
IO_PORT "ds1302_rst" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tm_clk" 31;
IO_PORT "tm_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "leds[5]" PULL_MODE=UP DRIVE=8;
IO_PORT "leds[4]" PULL_MODE=UP DRIVE=8;
IO_PORT "leds[3]" PULL_MODE=UP DRIVE=8;
IO_PORT "leds[2]" PULL_MODE=UP DRIVE=8;
IO_PORT "leds[1]" PULL_MODE=UP DRIVE=8;
IO_PORT "leds[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "tm1638_dio" 30;
IO_PORT "tm1638_dio" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ds1302_dat" 26;
IO_PORT "ds1302_dat" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tm_dio" 32;
IO_PORT "tm_dio" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "srf05_echo" 42;
IO_PORT "srf05_echo" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "xtal_in" 52;
IO_PORT "xtal_in" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "reset_button" 4;
IO_PORT "reset_button" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "user_button" 3;
IO_PORT "user_button" PULL_MODE=UP BANK_VCCIO=1.8;
